<h1>Question</h1>
<p><%= @question.question %></p>
<form action="answer" method="post">
  <fieldset>
    <legend>Please select your answer:</legend>
    <% @question.answers.each do |answer| %>
      <div>
        <input type="radio" id="answer_<%= answer.id %>" name="answer" value="<%= answer.number %>" />
        <label for="answer_<%= answer.id %>"><%= answer.answer %></label>
      </div>
    <% end %>
  </fieldset>
  <input type="submit" value="Submit"></input>
</form>
